:root {
  /* CSS Variables => https://depression-counselor-chatbot.vercel.app */
  --nav-color: #232f3e;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  border: border-box;
}

.navbar {
  min-height: 60px;
  color: white;
  background: #0f1111;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.nav-logo {
  width: 100px;
  height: 50px;
}
.logo {
  background-image: url("./images/amazon_logo.jpg");
  height: 50px;
  width: 100px;
  background-size: cover;
}
.border {
  border: 1.3px solid transparent;
}
.border:hover {
  border: 1.3px solid white;
}
/** Box-2**/

.add-first {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 15px;
}
.add-sec {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 3px;
}
.add-icon {
  display: flex;
  align-items: center;
}
/**Box-3**/

.nav-search {
  /* margin-left: 15px; */
  display: flex;
  width: 620px;
  height: 40px;
  justify-content: space-evenly;
  background-color: pink;
  border-radius: 4px;
}
.nav-search:hover {
  /* outline: 3px solid #fbbb68 */
  border: 3px solid #fbbb68;
}
.search-select {
  background-color: #f3f3f3;
  width: 51px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}
.search-input {
  width: 100%;
  border: none;
  font-size: 1rem;
}
.search-icon {
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  font-size: 1.2rem;
  background-color: #fbbb68;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #0f1111;
}
/**  Box-4**/
.nav-lang {
  display: flex;
  align-items: center;
  margin-left: 10px;
  height: 50px;
  width: 60px;
}
.nav-lang p {
  font-size: 1rem;
}
.lang-image {
  width: 65px;
}
.lang-image img {
  width: 100%;
  margin-left: 5px;
}
span {
  font-size: 12px;
}
.nav-second {
  font-size: 15px;
  font-weight: 600;
}
.nav-cart i {
  font-size: 30px;
}
.nav-cart {
  font-size: 0.85rem;
  font-weight: 600;
}
.panel {
  height: 40px;
  background-color: var(--nav-color);
  color: white;

  display: flex;
  align-items: center;
  overflow-y: scroll;
  gap: 15px;
}
/* width */
.panel::-webkit-scrollbar {
  height: 4px;
}
/* Handle */
.panel::-webkit-scrollbar-thumb {
  background-color: #888;
}

.panel-all {
  font-weight: 600;
  flex-shrink: 0;
}
.panel-all i {
  margin-left: 20px;
}
.panel-ops {
  width: 70%;
  font-size: 0.95rem;
  flex-shrink: 0;
}
.panel-ops p {
  display: inline;
  /* margin-left: 20px; */
  flex-shrink: 0;
}
.panel-deal {
  font-size: 1rem;
  font-weight: 600;

  flex-shrink: 0;
}

/** Hero section **/
.hero-section {
  background-image: url("./images/hero_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.hero-msg {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  min-height: 40px;

  padding: 10px;
  width: 85%;
  margin-bottom: 25px;
}
.hero-msg a {
  color: #007185;
}
/** working on shop section**/
.shop-section {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  padding: 20px;
  background-color: #e2e7e6;
  flex-wrap: wrap;
}
.box {
  flex-basis: 100%;
  min-height: 400px;
  min-width: 200px;
  max-width: 400px;
  background-color: white;
  margin-top: 15px;
  padding: 20px 0px 15px;
}
/** set content in box like image and heading**/
.box-img {
  height: 300px;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.box-content {
  margin-left: 1rem;
  margin-right: 1rem;
}

.box-content p {
  color: #007185;
}
footer {
  margin-top: 15px;
}
.foot-panel1 {
  height: 50px;
  background-color: #37475a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.85rem;
}
.foot-panel1:hover {
  background-color: #4e627a;
}
.foot-panel2 {
  background-color: var(--nav-color);
  color: white;
  min-height: 400px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
ul a {
  display: block;
  /* margin: 10px; */
  font-size: 0.95rem;
  color: #dddddd;
}
.foot-panel2 > ul {
  width: 200px;
  margin-top: 45px;

  display: flex;
  gap: 10px;
  flex-direction: column;
}
ul p {
  font-weight: 600;
}
.foot-panel3 {
  background-color: var(--nav-color);
  border-top: 1px solid rgb(89, 87, 87);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  background-image: url("./images/amazon_logo.jpg");
  height: 50px;
  width: 100px;
  background-size: cover;
}
.foot-panel4 {
  background-color: #0f1111;
  height: 80px;
  color: white;
  font-size: 0.7rem;
  text-align: center;
}
.pages {
  padding-top: 25px;
}
.copyright {
  padding-top: 5px;
}

/* 420 ki need nhi pari */
@media screen and (max-width: 450px) {
  .foot-panel2 > ul {
    /* border: 2px solid red; */
    font-size: 14px;
    text-align: center;
  }
}

@media screen and (max-width: 720px) {
  .nav-search {
    order: 10;
    /* display: inline-block; */
    width: 90%;
  }
  .box {
    max-width: 600px;
  }
  .navbar {
    background-color: var(--nav-color);
    gap: 20px;
  }
  .hidden-in-mobile {
    display: none;
  }
  .nav-add {
    display: none;
  }
  .nav-lang {
    display: none;
  }
  .nav-return {
    display: none;
  }
  .nav-signin > .nav-second {
    display: none;
  }
  .nav-signin-span {
    display: inline-block;
    width: 60px;
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
  }
  .panel-ops {
    width: auto;
  }
}
